.main-section {
    background: url('../images/content/bg_main_page.jpg') top / cover no-repeat;
    height: 125vh;
}

.scroll {
    color: #ffffff;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 75vh;
}

.scroll__icon {
    fill: #ffffff;
    width: 25px;
    height: 30px;

}
