.menu__list {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 60%;
    margin: auto;
}
.menu__item {
    height: 100%;
    padding-top: 3%;
    width: 17%;
    text-align: center;
    border-bottom: solid 1px transparent;
    &--active {
        border-bottom: solid 1px $orange;
        color: $orange;
    }
}
.menu__link {
    text-decoration: none;
    &:hover {
        font-weight: 600
    }
}