.testimonials-box {
    background: url('../images/content/bg_last_page.jpg') top left / cover;
    position: relative;
}
.testimonials-box__decor {
    position: absolute;
    height: 112%;
    right: 0px;
    width: 570px;
    top: -150px;
    background: url('../images/content/leaves_last_page.png');
    @include desktop {
        width: 30%;
    };
    @include phones {
        display: none;
    };
}