script(type='text/x-template')#slider-container
    .slider
        display(
            :currentWork = "currentWork"
            :works = "works"
            :currentIndex = "currentIndex"
            :lastIndex = "lastIndex"
            @slide = "handleSlide"
        )
        info(
            :currentWork = "currentWork"
            :tagList = "tagList"
        )

script(type='text/x-template')#slider-display
    .slider-pics
        .slider-pics__container
            .slider-pics__box
                img(:src="baseURL+currentWork.photo").slider-pics__preview
                btns(
                    @slide = "$emit('slide', $event)"
                    :currentIndex = "currentIndex"
                    :lastIndex = "lastIndex"
                )
                thumbs(
                    :works = "works"
                    :currentIndex = "currentIndex"
                )
                .slider-pics__number {{currentIndex +1}}

script(type='text/x-template')#slider-btns
    .slider-pics__btn.slider-pics__control
        button(
            @click="$emit('slide', 'next')"
            :class="{closed: currentIndex === lastIndex}"
            ).slider-pics__btn-right.slider-pics__btn &gt
        button(
            @click="$emit('slide', 'prev')"
            :class="{closed: currentIndex === 0}"
            ).slider-pics__btn-left.slider-pics__btn &lt

script(type='text/x-template')#slider-thumbs
    .slider__mini-pics
        ul.slider__list.slider-pics__list
            li.slider__item.slider-pics__item(
                v-for="work in works" :key="work.id"
                )
                .slider-pics__link
                    img(
                        :src="baseURL+work.photo"
                        :class="{active: currentIndex === works.indexOf(work)}"
                        ).slider__item-photo

script(type='text/x-template')#slider-info
    .slider-info
        tags(
            :tagList="tagList"
        )
        h3.slider-info__title {{currentWork.title}}
        .slider-info__text {{currentWork.description}}
        .slider-info__link
            a(:href="currentWork.link") Visit the website

script(type='text/x-template')#slider-tags
    ul.slider-info__tags.tags
        li.tags__item(v-for="tag in tagList" :key="tag")
            .tag {{tag}}