nav.menu
                ul.menu__list
                  - var menuContent = ["Main", "About Me", "My Skills", "Portfolio", "Reviews", "Contacts"]
                  each item in menuContent
                    li.menu__item
                      a(href="#").menu__link #{item}