div.socials
                ul.socials__list
                  - var socialsListContent = ["insta", "vk", "github"]
                  each item in socialsListContent
                    li.socials__item
                      a(href="#").socials__link
                        +icon(`${item}`, 'socials__icon')   