include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      section.fullscreen-section.main-section
        .container
          header.header
            div.header__logo
            nav.menu
              ul.menu__list
                - var menuLinkContent = ["Main", "About Me", "My Skills", "Portfolio", "Reviews", "Contacts"]
                each item in menuLinkContent
                  li.menu__item
                    a(href="#").menu__link= item
            .socials
              ul.socials__list
                - var socialsListContent = ["insta", "vk", "github"]
                each item in socialsListContent
                  li.socials__item
                    a(href="#").socials__link
                      +icon(item, 'socials__icon')

          .scroll 
            .scroll__name scroll
            +icon('scroll', 'scroll__icon') 

      section.fullscreen-section.aboutme-section
        .container.aboutme__container
          .aboutme__content
            .aboutme__profile.profile
              .profile__image
                .profile__avatar
                  +image('content/user.jpg', 'profile__photo')
              .profile__info
                .profile__line 
                  .profile__line-name My Address
                  .profile__line-info Adelaide, SA
                .profile__line
                  .profile__line-name Occupation
                  .profile__line-info Front-End Developer
                .profile__line
                  .profile__line-name Education
                  .profile__line-info Saint-Petersburg State Engeniering University, 2002, Diploma Economics and Managment
            .aboutme__description
              .aboutme__intro.intro
                .intro__greeting Hey, My name is
                .intro__name Evgenii Konkov
                .intro__text I do like to create an up-to-date web-sites and apps. It's a huge joy for me to work with something new.
                
              .aboutme__ps I created this web-site as a graduation project in a Loftschool. I'll update my info and portfolio shortly, but it's already looks so good!
            
      section.fullscreen-section.skills-section
        .skills__container.skills.container
          h2.skills__title What can I do for you
          .skills__text I created this web-site as a graduation project in a Loftschool. I'll update my info and portfolio shortly, but it's already looks so good!
          .skills__content
            .skills__content-title Front-End
            ul.skills__visual
              - var visualContent = ["HTML5", "CSS3", "Javascript", "Jquery and Vue.js"]
                each item in visualContent
                  li.skills__visual-item
                    .skills__visual-name= item
            .skills__content-title Workflow
            ul.skills__visual
              - var visualContent = ["GIT", "Terminal", "Gulp", "Webpack"]
                each item in visualContent
                  li.skills__visual-item
                    .skills__visual-name= item
        .skills__image
          +image('content/hands_skills_page.png', 'skills__image-pic')
      
      section.fullscreen-section.portfolio-section
        .container.portfolio_section__container.portfolio
          h2.portfolio__title Portfolio
          .portfolio__content
            .portfolio__slider
              .slider__container
                ul.slider__list
                  - var sliderContent = ["content/preview_1.jpg", "content/preview_2.jpg", "content/preview_3.jpg", "content/preview_4.jpg"]
                  each item in sliderContent
                    li.slider__item
                      +image(item, 'slider__item-photo')
                .slider__control
                  button.slider__btn
                    +icon('arrow-right', 'arrow')
                  button.slider__btn
                    +icon('arrow-left', 'arrow')
            .portfolio__description
              ul.portfolio__description-tags.tags
                 - var tagsContent = ["HTML", "CSS", "Lavasript"]
                  each item in tagsContent
                    li.tags__item= item
              .portfolio__description-title
              .portfolio__description-text
              .portfolio__description-link

      footer.footer allalalla

      .maincontent
      //
        +image('content/user.jpg', 'user-pic')
        .text Just a line of text
        +icon('link', 'link-class')
        .icon-bg