include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .hamburger
          button(type="button").hamburger__menu
            span.hamburger__item
  
      .parallax
        .parallax__layer(data-speed="0.05")
          picture.parallax__image
            source(media="(min-width: 1800px)", srcset="/src/images/content/parallax_layer7_3660.jpg")
            source(media="(min-width: 1200px)", srcset="/src/images/content/parallax_layer7_1830.jpg")
            source(media="(min-width: 768px)", srcset="/src/images/content/parallax_layer7_1200.jpg")
            img.parallax__disabled-image(src='/src/images/content/bg_main_page.jpg')
        .parallax__layer(data-speed="0.16")
          picture.parallax__image
            source(media="(min-width: 1800px)", srcset="/src/images/content/parallax_layer6_3660.png")
            source(media="(min-width: 1200px)", srcset="/src/images/content/parallax_layer6_1830.png")
            source(media="(min-width: 768px)", srcset="/src/images/content/parallax_layer6_1200.png")
            img.parallax__disabled-image(src='')
        .parallax__layer(data-speed="0.25")
          picture.parallax__image
            source(media="(min-width: 1800px)", srcset="/src/images/content/parallax_layer4_3660.png")
            source(media="(min-width: 1200px)", srcset="/src/images/content/parallax_layer4_1830.png")
            source(media="(min-width: 768px)", srcset="/src/images/content/parallax_layer4_1200.png")
            img.parallax__disabled-image(src='')
        .parallax__layer(data-speed="0.26")
          .parallax__text
            .parallax__text-intro This is the personal website of the developer
            h1.parallax__text-name Evgenii Konkov
        .parallax__layer(data-speed="0.28")
          picture.parallax__image
            source(media="(min-width: 1800px)", srcset="/src/images/content/parallax_layer3_2560.png")
            source(media="(min-width: 1200px)", srcset="/src/images/content/parallax_layer3_1830.png")
            source(media="(min-width: 768px)", srcset="/src/images/content/parallax_layer3_1200.png")
            img(src='')
        .parallax__layer(data-speed="0.1")
          picture.parallax__image
            source(media="(min-width: 1800px)", srcset="/src/images/content/parallax_layer2_3660.png")
            source(media="(min-width: 1200px)", srcset="/src/images/content/parallax_layer2_1830.png")
            source(media="(min-width: 768px)", srcset="/src/images/content/parallax_layer2_1200.png")
            img(src='')
        .parallax__layer(data-speed="0")
          picture.parallax__image
            source(media="(min-width: 1800px)", srcset="/src/images/content/parallax_layer1_3660.png")
            source(media="(min-width: 1200px)", srcset="/src/images/content/parallax_layer1_1830.png")
            source(media="(min-width: 768px)", srcset="/src/images/content/parallax_layer1_1200.png")
            img(src='')
        
        section.main-section
          .container.main-section__container
            header.header
              div.logo
              .header__menu
                +menu('menu__list')
              +socials('socials')
            .main-section__content.welcome
              .welcome__text This is the personal website of the developer
              h1.welcome__title Evgenii Konkov
            .scroll 
              .scroll__name scroll
              +icon('scroll', 'scroll__icon') 
      section.aboutme
        .container.aboutme-container
              .aboutme__content
                .aboutme__profile.profile
                  .profile__image
                    .avatar
                      +image('content/user.jpg', 'avatar__photo')
                  .profile__info
                    ul.profile__info-list
                      -
                        var profileData = [
                          ['My Address', 'Adelaide, SA'],
                          ['Occupation', 'Front-End Developer'],
                          ['Edication', 'Saint-Petersburg State Engeniering University, 2002, Diploma Economics and Managmen'],
                        ]
                      each item in profileData
                        li.profile__line
                          .profile__line-name #{item[0]}
                          .profile__line-info #{item[1]}  
                .aboutme__intro.intro
                  .intro__greeting Hey, My name is
                  h2.intro__name Evgenii Konkov
                  .intro__text I do like to create an up-to-date web-sites and apps. It's a huge joy for me to work with something new.
                    
                  .aboutme__ps I created this web-site as a graduation project in a Loftschool. I'll update my info and portfolio shortly, but it's already looks so good!
      section.fullscreen-section.skills
          .skills__container.container
            h2.title.skills__title What can I do for you
            p.skills__text I created this web-site as a graduation project in a Loftschool. I'll update my info and portfolio shortly, but it's already looks so good!
            .skills-widget
              #skills-component
            
          .skills__image
            +image('content/hands_skills_page.png', 'skills__image-pic')
        
      section.fullscreen-section.portfolio-section
          .container.portfolio
            h2.title.portfolio__title Portfolio
            .portfolio__content
              #slider-component
  
      .testimonials-box
          .testimonials-box__decor
          section.reviews-section
            .container.reviews
              #reviews-box
          section.contacts-section
            .container.contacts
              h2.title.contacts__title Send a query
              form.form
                .form__column
                  .form__row
                    label.form-block.form-block--name
                      .form-block__title Write your name here
                      input(type="text" name="name" placeholder="Evgenii Konkov" required).form-block__input
                    label.form-block.form-block--mail
                      .form-block__title Write your email
                      input(type="text" name="name" placeholder="Evgeniikonkov1@gmail.com" required).form-block__input
                  .form__row
                    label.form-block.form-block--message
                      .form-block__title Your message
                      textarea(name="comment" placeholder="Write your query here, please" required).form-block__input.form-block__input--comment
                  .form__row
                    button(type="submit").btn Send

      footer.footer
        .container.footer-container
          .footer__sideinfo
            .footer__year
              .year 2020
            .footer__name
              .footer__name-owner Evgenii Konkov
              .footer__name-info This is the personal website of the developer
          .footer__main
            nav.menu
              +menu('menu__list--footer')
            .footer__content
              .footer__content-column
                .footer__content-text I created this web-site as a graduation project in a Loftschool.
                +socials('socials--footer')
              .footer__content-column
                .footer__quote-text Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
                .footer__quote-author Martin Golding

    include ./templates/entry.pug
      //
        +image('content/user.jpg', 'user-pic')
        .text Just a line of text
        +icon('link', 'link-class')
        .icon-bg
